*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'SF Pro Display', 'SF Pro Text', sans-serif;
    line-height: 1.6;
}

.containar{
    width: 1720px;
    height: auto;
    display: flex;
    margin: auto;
}

.nav{
    width: 1720px;
    display: flex;
    inset: 0;
    margin: auto;
    justify-content: space-between;
    padding: 10px 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(168, 171, 173);
}

.nav ul li{
    display: inline-flex;
    list-style: none;
    margin-inline: 10px;
}

.h-btn{
    padding: 10px;
    font-size: 23px;
    border-radius: 5px;
    background-color: #1998FF;
}

.h-btn button{
    color: white    ;
    border: none;
    background: transparent;
}