*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'SF Pro Display', 'SF Pro Text', sans-serif;
    line-height: 1.6;
    background-color: rgb(9, 8, 8);
}

.containar{
    width: 1810px;
    height: auto;
    display: flex;
    margin: auto;
}

.nav{
    width: 1810px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 21px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #16181bb3;
}

.logo{
    font-size: 18px;
    font-weight: bolder;
}

.nav ul li{
    color: white;
    display: inline-flex;
    list-style: none;
    margin-inline: 10px;
}

a{
    color: white;
    text-decoration: none;
    gap: 5px;
}

.subscription{
    padding-left: 20px;
    border-left: 1px solid white;
}

.main-dropdown li a:hover{
    width: auto;
    height: auto;
    padding: 5px;
    color: black;
    border-radius: 10px;
    background-color: white;
}

.right-dropdown{
    padding-bottom: 5px;
}

.lang{
    position: relative;
    padding-block: 15px;
}

.lang-dropdown li{
    padding: 10px;
}

.lang-dropdown{
    display: none;
    position: absolute;
    top: 39px;
    right: 0;
    background: rgba(50, 47, 47, 0.75);
    width: 660px;
    border-radius: 10px;
    margin-block: 14px;
    padding: 20px;
    line-height: 2;
}

.lang:hover .lang-dropdown{
    display: block;
}

.user i{
    font-size: 26px;
    padding-block: 15px;
    margin-block: 3px;
}

.user{
    position: relative;
}

.user-dropdown{
    display: none;
    position: absolute;
    top: 50px;
    right: 10;
    background: rgba(50, 47, 47, 0.75);
    width: 166px;
    border-radius: 10px;
    margin-block: 14px;
    padding: 20px;
    line-height: 2;
}

.user:hover .user-dropdown{
    display: block;
}


.menu{
    padding-block: 21px;
    padding-inline: 11px;
    position: relative;
}

.menu-dropdown{
    display: none;
    position: absolute;
    top: 57px;
    right: 0;
    background: rgba(50, 47, 47, 0.75);
    width: 482px;
    border-radius: 10px;
    padding: 28px 55px 12px 26px;
    gap: 40px;
}

.menu:hover .menu-dropdown{
    display: flex;
}

.menu-dropdown ul li{
    list-style: none;
    padding: 8px 0;
    font-size: 14px;
}

.title{
    color: gray;
    font-weight: bold;
    margin-bottom: 10px;
}

.right-menu {
    border-left: 1px solid white;
    padding-left: 20px;
}

.h-btn{
    border-radius: 8px;
    background-color: #299bf8;
}

.h-btn button{
    color: white;
    font-size: 16px;
    font-weight: 400;
    border: none;
    padding: 10px 15px;
    background: transparent;
}

.h-btn:hover{
    background-color: #57b3ff;
}