*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Manrope", sans-serif;
}

:root{
    --flex : flex;
    --justify-between: space-between;
    --align-center: center;
}

.container{
    max-width: 1320px;
    width: 100%;
    margin-inline: auto;
    padding-inline: 20px;
}

.nav-bar{
    display: var(--flex);
    justify-content: var(--justify-between);
    align-items: var(--align-center);
}

.nav-content{
    display: var(--flex);
    gap:10px;
}

ul li a:hover{
    color: #54A8C7;
}

.nav-links{
    display: flex;
    align-items: var(--align-center);
    gap: 40px;
    padding-block: 25px;
    list-style: none;
}

a{
    text-decoration: none;
}

.nav-links li a{
    color: #343F52;
    font-weight: 800;
}

.nav-links li i{
    color: #54A8C7;
}

/* mega parent Links */
.mega-parent{
    margin-top: 25px;
    padding-bottom: 25px;
}

/* Demos Links */
.mega-menu-demos{
    width: 100%;
    height: 700px;
    position: absolute;
    left: 0;
    padding: 35px;
    border-radius: 15px;
    background-color: #1f2937;
    display: none;
    z-index: 100;
    margin-top: 25px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

.mega-parent:hover .mega-menu-demos{
    display: block;
}

.mega-grid{
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
    gap: 20px;
}

.card img{
    width: 100%;
    border-radius: 15px;
    display: block;
}

.card:hover{
    transform: translateY(-8px);
}

/* Pages Links */
.mega-menu-side{
    width: 250px;
    height: auto;
    position: absolute;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 100;
    margin-top: 25px;
}

.mega-parent:hover .mega-menu-side{
    display: block;
}

.pages-content ul li{
    display: flex;
    list-style: none;
    justify-content: var(--justify-between);
    padding-bottom: 15px;
}

.mega-services{
    width: 100%;
    height: auto;
    position: absolute;
    padding: 15px;
    border-radius: 10px;
    background-color: #ffffff;
    display: none;
    z-index: 100;
    left: 260px;
    margin-top: 0px;
    line-height: 2;
}

.services-parent:hover .mega-services{
    display: block;
}

/* Projects Links */
.mega-menu-projects{
    width: auto;
    height: auto;
    position: absolute;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 100;
    margin-top: 25px;
}

.mega-grid-projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.projects-pages-content{
    border-right: 1px solid #b9b9b9;
    padding-right: 20px;
}

.projects-pages-content ul li{
    list-style: none;
    padding-bottom: 15px;
}

.projects-pages-content h3{
    font-size: calc(1vw - 1px);
    color: #54A8C7;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.single-projects-content ul li{
    list-style: none;
    padding-bottom: 15px;
}
.single-projects-content h3{
    font-size: calc(1vw - 1px);
    color: #54A8C7;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.mega-parent:hover .mega-menu-projects{
    display: block;
}


/* Blocks Links */
.mega-menu-blocks{
    width: 100%;
    height: 600px;
    position: absolute;
    left: 0;
    padding: 35px;
    border-radius: 15px;
    background-color: #1f2937;
    display: none;
    z-index: 100;
    margin-top: 25px;
}

.mega-parent:hover .mega-menu-blocks{
    display: block;
}

.cards img{
    width: 100%;
    display: block;
    padding: 20px;
    border-radius: 10px;
    background: #393f48af;
}

.cards img:hover{
    cursor: pointer;
    background: #393f48;
}

.cards h4{
    margin-block: 12px;
    color: white;
}

/* Documentation Links */

.mega-menu-doc{
    width: auto;
    height: auto;
    position: absolute;
    left: 20px;
    padding: 35px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 100;
    margin-top: 25px;
}

.mega-parent:hover .mega-menu-doc{
    display: block;
}

.mega-grid-doc{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.doc-links ul{
    display: inline-table;
    border-left : 1px solid #b9b9b9;
    padding-inline: 30px 50px;
}

.doc-links h3{
    font-size: calc(1vw - 1px);
    color: #54A8C7;
    margin-block: 20px;
}

.doc-links ul li{
    list-style: none;
    padding-bottom: 15px;
}

.doc-links ul li a{
    text-decoration: none;
    color: #343F52;
    font-weight: 600;
}

.doc-links ul li a:hover{
    color: #54A8C7;
}

/* Search Icon */
.search{
    align-content: var(--align-center);
}

.btn{
    padding: 15px 25px;
    background-color: #54A8C7;
    color: #fff;
    border: none;
    font-weight: 500;
    border-radius: 25px;
    margin-left: 10px;
    margin-block: 35px;
}

.mobile-menu{
    display: none;
    margin: auto 0px;
}


/* Hero Section */

.hero-content{
    width: 100%;
    margin: auto;
    background-color: #edf5f7;
    border-radius: 20px;
    padding: 60px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin-top: -20px;
}

.hero-text{
    width: calc(30% + 30%);
}

.hero-text h1{
    font-size: calc(3vw - 8px);
    font-weight: 500;
    font-family: "DM Serif Display", serif;
    color: #343f52;
    line-height: 1.3;
    margin-bottom: 25px;
}

.hero-text p{
    font-size: calc(3vw - 36px);
    font-weight: 500;
    color: #60697b;
    line-height: 38px;
    margin-bottom: 35px;
    padding-right: 210px;
}

.hero-btns{
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn1{
    padding: 18px 30px;
    border: none;
    border-radius: 30px;
    background-color: #54a8c7;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn1:hover{
    transform: translateY(-5px);
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.589);
}

.btn2{
    padding: 16px 30px;
    border: 2px solid #54a8c7;
    border-radius: 30px;
    background-color: transparent;
    color: #54a8c7;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    transition: 0.3s;
}

.btn2:hover{
    transform: translateY(-5px);
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.589);
    color: white;
    background-color: #54a8c7;
}

.hero-image{
    width: 45%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img{
    width: 400px;
    position: relative;
    z-index: 2;
}

.client-card{
    width: auto;
    background-color: #fff;
    border-radius: 15px;
    padding: 16px 15px;
    position: absolute;
    right: 20px;
    bottom: 40px;
    display: flex;
    align-items: center;
    gap: 15px;
    z-index: 5;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.08);
}

.icon{
    width: 55px;
    height: 55px;
    background-color: #edf5f7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon i{
    color: #54a8c7;
    font-size: 22px;
}

.client-card h3{
    font-size: 22px;
    color: #343f52;
}

.client-card p{
    color: #60697b;
}

/* Trusted Section */

.trusted-section{
    width: calc(100% - 1%);
    padding: 120px 0px;
}

.trusted-content{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trusted-text{
    width: calc(10% + 12%);
}

.trusted-text h2{
    font-size: calc(2.4vw - 5px);
    font-weight: 500;
    font-family: "DM Serif Display", serif;
    color: #343f52;
    line-height: 1.3;
    margin-bottom: 25px;
}

.trusted-text p{
    font-size: calc(1.2vw - 3px);
    color: #60697b;
    line-height: 1.5;
}

.brand-logo{
    width: calc(57% + 5%);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 60px 30px;
    align-items: center;
}

.brand-logo img{
    width: 100%;
}

/* Who Are We Sections */
.we-section{
    width: 100%;
    padding: calc(60px + 2vw) 0px;
}

.we-content{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 70px;
}

.we-image{
    position: relative;
}

.shape{
    width: calc(120px + 5vw);
    height: calc(120px + 5vw);
    background-color: #edf5f7;
    border-radius: 50%;
    position: absolute;
    top: -70px;
    left: -80px;
    z-index: -1;
}

.we-image img{
    width: calc(100% + 0%);
    display: block;
    border-radius: 15px;
}

.we-text h2{
    font-family: "DM Serif Display", serif;
    font-size: calc(22px + 1vw);
    font-weight: 500;
    color: #343f52;
}

.we-text h5{
    font-size: calc(16px + 0.3vw);
    color: #60697b;
    line-height: 1.7;
    margin-bottom: calc(13px + 0.5vw);
    font-weight: 500;
}

.we-text p{
    font-size: calc(13px + 0.2vw);
    color: #60697b;
    line-height: 1.8;
    margin-bottom: calc(25px + 1vw);
}

.we-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: calc(20px + 1vw);
}

.we-grid-content{
    display: flex;
    align-items: flex-start;
    gap: 18px;
}

.we-icon{
    min-width: calc(45px + 0.5vw);
    height: calc(45px + 0.5vw);
    background-color: #edf5f7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.we-icon i{
    font-size: calc(16px + 0.2vw);
    color: #54a8c7;
}

.we-grid-content h3{
    font-size: calc(1rem + 0.2vw);
    color: #343f52;
    margin-bottom: 10px;
}

.we-grid-content p{
    font-size: calc(7px + 0.5vw);
    margin-bottom: 0;
    line-height: 1.7;
}

.shape2{
    width: calc(120px + 5vw);
    height: calc(120px + 5vw);
    background-color: #edf5f7;
    border-radius: 50%;
    position: absolute;
    top: -70px;
    right: -80px;
    z-index: -1;
}

/* Testimonial Section */ 

.testimonial-section{
    width: 100%;
    padding: 100px 0px;
}

.testimonial-content{
    max-width: 100%;
    background-color: #edf5f7;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    overflow: hidden;
}

.testimonial-image{
    text-align: center;
}

.testimonial-image img{
    width: 340px;
    display: block;
    margin: auto;
}

.testimonial-text{
    text-align: center;
    padding: 60px;
}

.stars{
    margin: 20px 180px;
}

.stars i{
    color: #f6b100;
    font-size: 18px;
    margin-right: 3px;
}

.testimonial-text p{
    font-size: calc(100% + 4px);
    color: #60697b;
    margin-bottom: 30px;
}

.testimonial-text h3{
    color: #343f52;
    font-size: 18px;
    margin-bottom: 5px;
}

.testimonial-text span{
    color: #8c97a5;
    font-size: 15px;
    font-weight: 600;
}

.team-work{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    gap: 40px;
    margin-block: 100px 100px;
}
